@model AttentionAxia.Models.Linea

@{
    ViewBag.Title = "Eliminar Linea de trabajo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<div class="row">
    <!-- left column -->
    <div class="col-md-6">
        <div class="card card-primary bgAzulOscuroMovistar">
            <div class="card-header">
                <h3 class="card-title text-bold text-white">¿Está seguro que desea eliminar esta línea?</h3>
            </div>
            <!-- /.card-header -->
            <!-- form start -->
            <section class="form-horizontal">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Descripción</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" disabled value="@Model.Descripcion">
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer d-flex justify-content-end">
                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        <a class="btn btn-link btn-sm text-dark mr-4" href="@Url.Action("Index","Linea")"><i class="fa fa-arrow-alt-circle-left text-dark mr-3"></i>Cancelar</a>
                        <button type="submit" class="btn btn-danger btn-sm mr-2 text-bold"><i class="fa fa-trash mr-3"></i>Eliminar</button>
                    }
                </div>
                <!-- /.card-footer -->
            </section>
        </div>
    </div>
</div>
